<nav class="bg-red-900 border-b border-gray-200 dark:bg-red-800 transition-colors duration-300 ease-in-out py-4" style="background-color: #4a131b;">
  <div class="container mx-auto px-4 flex items-center justify-between">
    <!-- Logo and Brand -->
    <a href="#" class="flex items-center space-x-2 text-white dark:text-white transition-colors duration-300 ease-in-out hover:text-gray-200">
      <img src="https://www.hau.edu.ph/images/logo-circle.png" class="h-16" alt="HAU Logo">
      <span class="text-3xl font-semibold">HAU</span>
    </a>

    <!-- Mobile Menu Button -->
    <button class="block md:hidden focus:outline-none text-white hover:text-gray-200 transition-colors duration-300 ease-in-out" aria-label="Open main menu">
      <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- Desktop Menu -->
    <ul class="hidden md:flex space-x-6 font-medium text-lg">
      
      <li>
        <a routerLink="/add-book" routerLinkActive="active" class="text-white hover:text-gray-200 transition-colors duration-300 ease-in-out">Add Books</a>
      </li>
      <li>
        <a routerLink="/books-list" routerLinkActive="active" class="text-white hover:text-gray-200 transition-colors duration-300 ease-in-out">Show Books</a>
      </li>
    </ul>
  </div>
</nav>


<!--0 <nav class="bg-white border-gray-200 dark:bg-gray-900">
 
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="/books-list">Show Books</a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="/add-book">Add Books</a>
      </li>
    </ul>
  </div>
</nav> -->

<router-outlet></router-outlet>
